# Specify the reference of 3'UTR region

Annotated_3UTR=RefSeq_hg38_3UTR_annotation.bed

# A comma separated list of wig files of all samples

Aligned_Wig_files=Synthego_G1_1_30_S2.bedgraph,Synthego_G1_1_32_S4.bedgraph,Synthego_G1_2_2_S6.bedgraph,Synthego_G1_24hour_A_S43.be
dgraph,Synthego_G1_24hour_B_S57.bedgraph,Synthego_G1_24hour_C_S59.bedgraph,Synthego_G1_4hour_A_S54.bedgraph,Synthego_G1_4hour_B_S55
.bedgraph,Synthego_G1_4hour_C_S56.bedgraph,Synthego_G1_Control_A_S61.bedgraph,Synthego_G1_Control_B_S50.bedgraph,Synthego_G1_Contro
l_C_S49.bedgraph,Synthego_G1_Cytoplasm1_S71.bedgraph,Synthego_G1_Cytoplasm2_S72.bedgraph,Synthego_G1_Cytoplasm3_S73.bedgraph,Synthe
go_G1_Ethanol_Control_2_S28.bedgraph,Synthego_G1_Ethanol_Control_3_S29.bedgraph,Synthego_G1_Ethanol_Control_4_S30.bedgraph,Synthego
_G1_Ethanol_Treated_24hour_2_S34.bedgraph,Synthego_G1_Ethanol_Treated_24hour_3_S35.bedgraph,Synthego_G1_Ethanol_Treated_24hour_4_S3
6.bedgraph,Synthego_G1_Ethanol_Treated_3hour_2_S31.bedgraph,Synthego_G1_Ethanol_Treated_3hour_3_S32.bedgraph,Synthego_G1_Ethanol_Tr
eated_3hour_4_S33.bedgraph,Synthego_G1_Nuclear1_S65.bedgraph,Synthego_G1_Nuclear2_S66.bedgraph,Synthego_G1_Nuclear3_S67.bedgraph,Sy
nthego_G1_Peroxide_Treated_3hour_2_S16.bedgraph,Synthego_G1_Peroxide_Treated_3hour_3_S17.bedgraph,Synthego_G1_Peroxide_Treated_3hou
r_4_S18.bedgraph,Synthego_G1_Peroxide_Treated_Control_2_S13.bedgraph,Synthego_G1_Peroxide_Treated_Control_3_S14.bedgraph,Synthego_G
1_Peroxide_Treated_Control_4_S15.bedgraph,Synthego_Wildtype_1_30_S1.bedgraph,Synthego_Wildtype_1_32_S3.bedgraph,Synthego_Wildtype_2
_2_S5.bedgraph,Synthego_Wildtype_24hour_A_S58.bedgraph,Synthego_Wildtype_24hour_B_S53.bedgraph,Synthego_Wildtype_24hour_C_S48.bedgr
aph,Synthego_Wildtype_4hour_A1_S45.bedgraph,Synthego_Wildtype_4hour_A2_S46.bedgraph,Synthego_Wildtype_4hour_B_S51.bedgraph,Synthego
_Wildtype_4hour_C_S52.bedgraph,Synthego_Wildtype_Control_A_S44.bedgraph,Synthego_Wildtype_Control_B_S60.bedgraph,Synthego_Wildtype_
Control_C_S47.bedgraph,Synthego_Wildtype_Cytoplasm1_S68.bedgraph,Synthego_Wildtype_Cytoplasm2_S69.bedgraph,Synthego_Wildtype_Cytopl
asm3_S70.bedgraph,Synthego_Wildtype_Ethanol_Control_2_S19.bedgraph,Synthego_Wildtype_Ethanol_Control_3_S20.bedgraph,Synthego_Wildty
pe_Ethanol_Control_4_S21.bedgraph,Synthego_Wildtype_Ethanol_Treated_24hour_2_S25.bedgraph,Synthego_Wildtype_Ethanol_Treated_24hour_
3_S26.bedgraph,Synthego_Wildtype_Ethanol_Treated_24hour_4_S27.bedgraph,Synthego_Wildtype_Ethanol_Treated_3hour_2_S22.bedgraph,Synth
ego_Wildtype_Ethanol_Treated_3hour_3_S23.bedgraph,Synthego_Wildtype_Ethanol_Treated_3hour_4_S24.bedgraph,Synthego_Wildtype_Nuclear1
_S62.bedgraph,Synthego_Wildtype_Nuclear2_S63.bedgraph,Synthego_Wildtype_Nuclear3_S64.bedgraph,Synthego_Wildtype_Peroxide_Control_2_
S7.bedgraph,Synthego_Wildtype_Peroxide_Control_3_S8.bedgraph,Synthego_Wildtype_Peroxide_Control_4_S9.bedgraph,Synthego_Wildtype_Per
oxide_Treated_3hour_2_S10.bedgraph,Synthego_Wildtype_Peroxide_Treated_3hour_3_S11.bedgraph,Synthego_Wildtype_Peroxide_Treated_3hour
_4_S12.bedgraph

Output_directory=Dapars2_test/

Output_result_file=Dapars2

# Specify Coverage threshold

Coverage_threshold=20

# Specify the number of threads to process the analysis

Num_Threads=16

# Provide sequencing depth file for normalization

sequencing_depth_file=sample_coverages.txt
